* {
    box-sizing: border-box;
    font-family: lato;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/ProximaNova-Black.ttf);
}

@font-face {
    font-family: 'Droid Serif';
    src: url(../fonts/DroidSerif-Bold.ttf);
}