.about {

    position: relative;
    height: 650px;
    background-color: #f4f4f4;
    width: 100%;
    overflow: hidden;

    @mixin atSmall {
        overflow: unset;
    }

    &__slanted-top {
        height: 60px;
        width: 110%;
        background-color: $mainRed;
        margin: 0;
        padding: 0;
        display: block;
        transform-origin: 100% 50%;
        transform: rotate(-3deg);
        position: absolute;
        top: -60px;
        left: -2px;

        @mixin atSmall {
            width: 100%;
            top: -35px;
            left: -20px;
            height: 35px;
            transform: rotate(-1deg);
        }
    }


    &__text {
        position: absolute;
        color: $mainGray;
        left: 10%;
        top: 150px;
    }

    &__title {
        font-weight: 300;
        font-size: 38px;
        margin-bottom: 0;
    }

    &__subtitle {
        font-size: 15px;
        font-weight: 300;
        max-width: 550px;
        line-height: 2rem;
        margin-top: 0;
        margin-bottom: 45px;
    }

    &__underline {
        width: 20%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__video {
        color: $mainRed;
        text-transform: uppercase;
    }

    &__icon {
        font-size: 2rem;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -2px;
    }

    &__macbook {
        display: inline-block;
        position: absolute;
        top: 18%;
        right: 40px;
        /* transform: scale(0.9); */
        transform-origin: 100% 50%;
    }
}