.about {

    position: relative;
    background-color: #f4f4f4;
    width: 100%;
    overflow: hidden;

    @mixin atLarge {
        overflow: unset;
    }

    @mixin atLarge {
        height: auto;
    }

    &__slanted-top {
        height: 60px;
        width: 110%;
        background-color: $mainRed;
        margin: 0;
        padding: 0;
        display: block;
        transform-origin: 100% 50%;
        transform: rotate(-3deg);
        position: absolute;
        top: -60px;
        left: -2px;

        @mixin atSmall {
            width: 100%;
            top: -50px;
            left: -20px;
            height: 50px;
            transform: rotate(-2deg);
        }

        @mixin atMedium {
            top: -50px;
        }

        @mixin atLarge {
            top: -55px;
            transform: rotate(-1.5deg);
        }
    }


    &__text {
        color: $mainGray;
        padding-top: 4%;
        text-align: center;

        @mixin atMedium {
            padding-left: 0%;
        }
    }

    &__title-text {

        position: relative;

        @mixin atLarge {
            position: absolute;
            left: 10%;
            top: 6rem;
        }
    }

    &__title {
        font-weight: 300;
        font-size: 38px;
        text-align: center;


        @mixin atLarge {
            text-align: left;
        }
    }

    &__title--first {

        margin-top: 8rem;

        @mixin atSmall {
            margin-top: 10rem;
        }

        @mixin atLarge {
            margin-top: 2rem;
        }
    }

    &__title--second {
        padding-bottom: 2rem;

        @mixin atLarge {
            padding: 0;
        }
    }

    &__subtitle {
        font-size: 15px;
        font-weight: 300;
        max-width: 550px;
        line-height: 2rem;
        margin-bottom: 45px;
        margin-left: 50%;
        transform: translateX(-50%);

        @mixin atLarge {
            margin-left: 25%;
            transform: none;
            text-align: left;
        }
    }

    &__underline {
        width: 15%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -3rem;

        @mixin atLarge {
            margin-bottom: 30px;
            margin-left: 25%;
            width: 25%;
            margin-top: 14rem;
        }
    }

    &__video {
        color: $mainRed;
        text-transform: uppercase;
        display: block;
        padding-bottom: 4rem;

        @mixin atLarge {
            text-align: left;
            padding-left: 25%;
        }
    }

    &__icon {
        font-size: 2rem;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -2px;
    }

    &__macbook {
        position: relative;
        display: none;
        transform-origin: 100% 50%;

        @mixin atLarge {
            display: inline-block;
            bottom: -5rem;
            margin-top: 0;
            margin-bottom: 0;
            transform: none;
            bottom: -7rem;
        }
    }
}