.nav-bar {

    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    transition: background-color 900ms ease;
    overflow: hidden;

    &--red {
        color: $mainRed;
        position: absolute;
        left: -4.5rem;

        @mixin atMedium {
            position: relative;
            left: auto;
        }
    }

    &--active {
        color: $mainRed;
    }

    &__logo {
        font-size: 3.5rem;
        text-align: left;
        font-family: 'Proxima Nova';
        font-weight: 800;
        position: relative;
        display: inline-block;
        margin-left: 50%;
        margin-right: 50%;
        transform: translateX(-50%);
        cursor: pointer;

        span {
            font-family: 'Proxima Nova';
        }

        @mixin atMedium {
            font-size: 1.59rem;
            text-align: center;
            display: inline;
            margin-left: auto;
            margin-right: auto;
            transform: none;
        }
    }

    ul {
        padding: 0;
        float: right;
        margin: 0;
        position: absolute;
        padding: 3rem 30vw 10vh 30vw;
        top: -15px;
        left: 100vw;
        right: -100vw;
        background-color: black;
        z-index: 1;
        text-align: center;
        border-bottom: 2px solid $mainRed;
        transition: all 800ms ease-in;

        @mixin atLarge {
            position: unset;
            right: 0;
            padding: 0;
            float: right;
            border: none;
            text-align: left;
            background-color: transparent;
            margin: 0;
        }
    }

    li {
        list-style: none;
        float: left;
        display: block;
        float: none;
        width: 100%;
        padding-top: 3rem;
        width: 100%;


        @mixin atMedium {
            display: inline-block;
        }

        @mixin atLarge {
            width: auto;
            float: left;
            padding: 0;
            padding-right: 1rem;
        }
    }

    a {
        padding-left: 13px;
        display: inline-block;
        font-weight: 800;
        font-size: 1rem;
        padding: 5.5px;
    }

    &--fixed {
        position: fixed;
        background-color: rgba(#000, 0.9);
        margin-top: 0;
        z-index: 999999;
        border-bottom: 4px solid $mainRed;
    }

    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        z-index: 10;

        @mixin atLarge {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transform-origin: 0 0;
            transition: transform 300ms ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transform-origin: 0 50%;
            transition: all 300ms ease-out;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 2.9px;
            background-color: #fff;
            transform-origin: 0 100%;
            transition: transform 300ms ease-out;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .nav-bar__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }
}