.nav-bar {

    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    margin-top: 40px;

    &--red {
        color: #ed145b;
    }

    &__logo {
        font-size: 1.59rem;
        float: left;
    }

    ul {
        padding: 0;
        float: right;
        margin: 0;
    }

    li {
        list-style: none;
        float: left;
    }

    a {
        padding-left: 13px;
        display: inline-block;
        font-family: lato;
        font-weight: 800;
        font-size: 1rem;
        padding: 5.5px;
    }
}