.slider {

    &__quotes {
        font-family: 'Droid Serif';
        color: $mainRed;
        font-size: 9.875rem;
        position: absolute;
        z-index: 99;
        display: block;

        &__container {


        }

        &--first {
            position: absolute;
            top: -20%;
            right: 50%;
            transform: scale(-1, 1) translateX(-50%);
        }


        &--second {
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);    
        }
    }

}

.slider__container {
    position: relative;
}