.slider {

    &__quotes {
        font-family: 'Droid Serif';
        color: $mainRed;
        font-size: 9.875rem;
        position: absolute;
        z-index: 1;
        display: block;

        &--first {
            position: absolute;
            top: -20%;
            right: 50%;
            transform: scale(-1, 1) translateX(-50%);

            &--download-screen {
                transform: scale(-0.5, 0.5) translateX(-100%);
                top: -40%;
            }
        }


        &--second {
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);    

            &--download-screen {
                transform: scale(0.5) translateX(-100%);
                bottom: -20%;
            }
        }
    }

    &__container {
        position: relative;
        min-height: 400px;
        max-height: 501px;

        &--screen {
            min-height: 200px;
            max-height: 200px;
        }
    }

}