.slider {

    height: 500px;
    background: url('/assets/images/quotes-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @mixin atMedium {
        margin-top: auto;
    }

    &__prev {

        position: absolute;
        top: 50%;
        left: 19%;
        transform: translateY(-50%);

        span {
            display: inline-block;
        }
    }

    &__next {
        position: absolute;
        top: 50%;
        right: 19%;
        transform: translateY(-50%);

        span {
            display: inline-block;
        }
    }

}